<h1><%= @question.title %></h1>
<p><%= @question.body %></p>
<h3>Views: <%= @question.view_count %></h3>
<p>Created By: <%= @question.user_name if @question.user %></p>
<p>Tags: <%= @question.tags_display %></p>

<% if @question.liked_by?(current_user) %>
  <% l = Like.where(question: @question, user: current_user) %>
  <%= @question.thumbs_up_button %>
<% else %>
  <%= @question.thumbs_down_button %>
<% end %>
(<%= @question.likes.count %>)


  <%= render "/questions/vote", question: @question %>

  <%= image_tag @question.image.url(:medium) %>


<% if can? :manage, @question %>
  <%= link_to "Edit", edit_question_path(@question) %> |
  <%= link_to "Delete", question_path(@question),
                      method: :delete,
                      data:   {confirm: "Are you sure?"} %>
<% end %>


<%#= form_for @answer, url: question_answers_path(@question) do %>
<div id="answer-form">
  <%= render "answers/form" %>
</div>

<h2>Answers</h2>
<div id="answers">
  <% @question.new_first_answers.each do |ans| %>
    <%= render "/answers/answer", answer: ans %>
  <% end %>
</div>
